.main {
  display: flex;

  .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    background-color: #F9F9FA;
    border-right: 1px solid $gainsboro;
    border-bottom: 2px solid #F9F9FA;
    color: #657a8d;
    padding: 0 4px;

    &:hover {
      //background-color: #293846;
      color: #4D6072;
    }
    &.active {
      background-color: $white;
      color: #4D6072;
      border-bottom: 2px solid $lightBlue;
    }

    & > span {
      color: $almostBlack;
      min-width: 32px;
    }
  }

  .addScreen {
    & svg * {
      fill: $almostBlack;
    }
  }

  .modal__body {
    display: flex;
    flex-direction: column;

    .icoAddScreen {
      text-align: center;
      user-select: none;
    }

    .screenName {
      box-sizing: border-box;
      width: 100%;
      margin: 4px 0;
      padding: 6px 12px;
      border: 1px solid $gainsboro;
      border-radius: 2px;
    }

    p {
      margin-top: 4px;
      font-size: 12px;
      text-align: left;
      color: $brightRed;
    }

    .browseImg {
      margin-top: 16px;
      padding: 4px;
    }
  }

}
