.main {
  padding: 26px;

  .titleProject {
    padding: 16px 0;
    background-color: $white;
    border-bottom: 1px solid $gainsboro;
    text-align: center;
  }

  .addScreensProject, .addScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    height: 150px;
    width: 114px;
  }

  .addScreensProject {
    background-color: $white;
  }

  .addScreen {

    button {
      border: none;
      cursor: pointer;
    }

    .btnAddScreen > svg * {
      fill: #e2e3e3;
    }
  }
}


.modal__body {
  display: flex;
  flex-direction: column;

  .icoAddScreen {
    text-align: center;
    user-select: none;
  }

  .screenName {
    box-sizing: border-box;
    width: 100%;
    margin: 4px 0;
    padding: 6px 12px;
    border: 1px solid $gainsboro;
    border-radius: 2px;
  }

  p {
    margin-top: 4px;
    font-size: 12px;
    text-align: left;
    color: $brightRed;
  }

  .browseImg {
    margin-top: 16px;
    padding: 4px;
  }
}
