$white: #FFFFFF;
$matteTurq: #f3f3f4;
$gainsboro: #e7eaec;
$lightBlue: #657a8d;
$almostBlue: #293846;
$lightMatteTurq: #2f4050;
$almostBlack: #3f4b57;
$dodgerBlue: #337ab7;
$frenchBlue: #3986F7;
$green: #18a689;
$red: #C35A54;
$brightRed: #ed5565;
