.button {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0 8px;
  background: currentColor;
  border: 1px solid currentColor;
  border-radius: 4px;
  line-height: 32px;

  & > span {
    font-weight: 500;
    font-size: 14px;
  }

  & > span > * {
    display: inline-block;
    vertical-align: middle;
  }

  &.none {
    padding: 0;
    border: none;
    background: initial;
  }

  &.primary {
    color: $frenchBlue;

    &:hover {
      background-color: lighten($frenchBlue, 4%);
    }

    span {
      color: $white;
    }
  }

  &.confirm {
    color: $green;

    &:hover {
      background-color: lighten($green, 4%);
    }

    span {
      color: $white;
    }
  }

  &.secondary {
    color: $red;

    &:hover {
      background-color: lighten($red, 4%);
    }

    span {
      color: $white;
    }
  }
}

.checkbox {
  padding: 4px 0;

  span {
    padding-left: 6px;
    user-select: none;
  }
}

.radiobuttonGroup {
  & .hasLabel {
    position: relative;
    padding-top: 28px;

    .label {
      position: absolute;
      top: 0;
      font-weight: 600;
      color: #676767;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  label {
    margin: 0 3%;

    span {
      position: relative;
      padding: 2px 8px 0;
      cursor: pointer;
    }
  }

  .disabled {
    user-select: none;
  }
}

.modal__wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 96px;
  padding-bottom: 96px;
  z-index: 999999;
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  .modal__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba($almostBlack, 0.8);
    backdrop-filter: blur(8px);
  }

  .modal__inner {
    background: $white;
    box-shadow: $boxShadow;
    padding: 16px;
    position: relative;
    z-index: 2;
    border-radius: 2px;

    .modal__header {
      display: flex;
      padding-bottom: 16px;

      .title {
        margin: 0;
        padding-right: 16px;
        white-space: nowrap;
        flex: 1;
        text-align: left;
        user-select: none;
      }

      & > button {
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }

    .modal__body {
      font-weight: 400;
      font-size: 12px;
      text-transform: none;
    }

    &.hasActions {
      padding-bottom: 0;

      .modal__actions {
        margin: 16px 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: stretch;

        .button {
          margin-left: 8px;
        }
      }
    }
  }
}


:global(.block), :global(.group), :global(.elem) {
  user-select: none;
  cursor: move;
  padding: 5px;
}

:global(.block) {
  margin-bottom: 8px;
  background-color: #efe5fd;
}

:global(.group) {
  margin: 0 8px 8px;
  background-color: #D7CCC8;
}

:global(.elem) {
  margin: 4px;
  background-color: #FBE9E7;
}

:global(.vertical, .horizontal) {
  display: flex;
}

:global(.vertical) {
  flex-direction: column;
}

:global(.hyperLink), :global(.button), :global(.input) {
  margin: 4px;
}
